/* General styles for the social media section */
.social-icon-container {
  transition: transform 0.3s ease-in-out;
  padding: 10px;
}

.social-icon-container:hover {
  transform: translateY(-5px);
}

.social-icon-container:hover .text-para {
  color: #1976d2;
  /* Change color on hover */
  font-weight: bold;
}

.text-heading {
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.text-para {
  font-size: 16px;
  color: #555;
  margin-top: 8px;
  transition: color 0.3s ease;
}

.banner-adv {
  background: #fff;
  padding: 20px 10px 15px;
  position: relative;
  margin: 0;
  text-align: left;
  border-radius: 6px;
}

.membership-banner.banner-adv {
  background: #ff00cc;
  background: linear-gradient(to right, #00b2f8, #ff00cc);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pakage-banner.banner-adv {
  background: #ff00cc;
  background: linear-gradient(to right, #00b2f8, #ff00cc);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.category-percentage {
  font-size: 2rem;
  font-weight: 800;
  background: #fff;
  color: #000;
  border-radius: 100px;
  padding: 28px 14px;
  text-shadow: 1px 1px 1px #9d998e;
  animation: pulse 1.5s infinite;
  margin-bottom: 8px;
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.pakage-banner.banner-adv .category-percentage {
  color: #00b2f8;
}

.category-price {
  /* font-size: 2rem; */
  margin: 10px 0 10px 0;
  color: #fff;
  font-weight: 600;
  text-shadow: -1px 0px #ccc;
}

.category-price.gross-price {
  text-decoration: line-through;
  font-size: 1.2rem;
  color: #fff;
}

.category-percentage span {
  background: #fff;
  display: inline-block;
  padding: 6px 15px 6px;
  text-align: left;
  font-size: 0.72rem;
  border-radius: 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  top: 0px;
  right: 1px;
}

.category-heading {
  background: #fff;
  display: inline-block;
  padding: 7px 15px 6px;
  text-align: left;
  font-size: 0.72rem;
  border-radius: 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px 0 12px 0;
}

.category-name {
  font-size: 30px;
  color: #fff;
  padding: 12px 2px 20px;
  letter-spacing: 0.03rem;
  width: 70%;
  line-height: 35px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .text-para {
    font-size: 14px;
  }

  .text-heading {
    font-size: 20px;
  }
}
